  <form>
        <input type="text" placeholder=" Search..." />
  </form>
  <div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>Load#</th>
          <th>P/L & Time</th>
          <th>D/L & Time</th>
          <th>Miles</th>
          <th>Driver</th>
          <th>Truck</th>
          <th>Trailer</th>
          <th>Status</th>
          <th>Billed?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let x of loads">
        <tr *ngIf="x.billed !== 'Yup' && x.status === 'Delivered'" style="background-color:rgb(238, 219, 212); color:black">
          <td data-title="ID">{{x.ref_id}}</td>
          <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
          <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
          <td data-title="Status">{{x.miles}}</td>
          <td data-title="Status">{{x.driver}}</td>
          <td data-title="Status">{{x.truck_number}}</td>
          <td data-title="Status">{{x.trailer_number}}</td>
          <td data-title="Status">{{x.status}}</td>
          <td data-title="Status"><a style="color: red">{{x.billed}}</a></td>
          <td data-title="Status"><a style="font-weight:bold" (click)="pops(1)">Bill It Now</a></td>
        </tr>
        <tr *ngIf="x.billed === 'Yup' && x.status === 'Delivered'">
          <td data-title="ID">{{x.ref_id}}</td>
          <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
          <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
          <td data-title="Status">{{x.miles}}</td>
          <td data-title="Status">{{x.driver}}</td>
          <td data-title="Status">{{x.truck_number}}</td>
          <td data-title="Status">{{x.trailer_number}}</td>
          <td data-title="Status">{{x.status}}</td>
          <td style="color: green" data-title="Status">Yup</td>
          <td data-title="Status"><a (click)="pops(1)">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
<div id="myEdit2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <button (click)="pop_close()" class="close">&times;</button>
      <!DOCTYPE html>
      <html lang="en">
      <body>
      <div style="text-align: center; padding-right: 0%; padding-left: 0%; width: 100%" class="container">
      <!-- <table class="table table-striped">
           <thead>
             <tr>
               <th>Date</th>
               <th>Description</th>
               <th>Amount</th>
               <th>Credit</th>
               <th>Balance</th>
               <th>Initials</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>date</td>
               <td>some description</td>
               <td>something else</td>
               <td>something else</td>
               <td>something else</td>
               <td>something else</td>
             </tr>
           </tbody>
         </table> -->
        </div>
      </body>
      </html>
    </div>
  
  </div>
