<div class="container">
<form> 
  <div class="row">
    <h4>Add load</h4>
    <div class="input-group input-group-icon">
      <input type="text" placeholder="Load No:"/>
      <div class="input-icon"><i class="fa fa-tasks"></i></div>
    </div>
    <div class="input-group input-group-icon">
      <input type="datetime-local" placeholder="Pickup Time"/>
      <div class="input-icon"><i class="fa fa-clock-o"></i></div>
    </div>
    <div class="input-group input-group-icon">
        <input type="datetime-local" placeholder="Drop off Time"/>
        <div class="input-icon"><i class="fa fa-clock-o"></i></div>
      </div>
    <div class="input-group input-group-icon">
      <input type="text" placeholder="Bill To"/>
      <div class="input-icon"><i class="fa fa-handshake-o"></i></div>
    </div>
    <div class="input-group input-group-icon">
      <input type="text" placeholder="From"/>
      <div class="input-icon"><i class="fa fa-map-marker"></i></div>
    </div>
    <div class="input-group input-group-icon">
      <input type="text" placeholder="To"/>
      <div class="input-icon"><i class="fa fa-map-marker"></i></div>
    </div>
    <div class="input-group input-group-icon">
        <input type="number" placeholder="Miles"/>
        <div class="input-icon"><i class="fa fa-truck"></i></div>
    </div>
    <div class="input-group input-group-icon">
        <input type="number" placeholder="Charges"/>
        <div class="input-icon"><i class="fa fa-dollar"></i></div>
    </div>
    <div class="input-group input-group-icon">
        <input type="text" placeholder="Dispatch"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
    </div>
  </div>
  <button class="btn btn-success">Register</button>
  <button class="btn btn-warning" style="margin-left: 5px">Clear</button>
</form>
</div>