
<div class="main" style="width: 100%">
    <div style="width: 100%">
        <button class="collapsible">New Load</button>
      <div class="register">
        <h3>Create Load</h3>
        <select name="loadTime" id="loadTime" [(ngModel)]="loadTime" (change)="loadTimeChanged()">
          <option value="current">Current Load</option>
          <option value="past">Past Load</option>
        </select>
      <form ngNativeValidate id="reg-form" (submit)="register_load()">
          <div>
            <label for="name">Load Status</label>
            <select name="status" id="" [(ngModel)]="load.status" required>
              <optgroup label="Planning">
                  <option value="Needs Driver">Needs Driver</option>
                <option value="Needs Carrier">Needs Carrier</option>
                <option value="Waiting Confirmation">Waiting Confirmation</option>
              </optgroup>
              <option value="planning">Active Load</option>
            </select>
            <label for="ref_id">Load Ref ID</label>
            <input type="text" id="ref_id" spellcheck="false" placeholder="Load Ref ID" name="ref_id" [(ngModel)]="load.ref_id" required/>
            <label for="eq_type">Equipment Type</label>
            <select name="eq_type" id="" name="eq_type" [(ngModel)]="load.eq_type" required>
              <option value="Van">Van</option>
              <option value="Flat">Flat</option>
              <option value="Dubl">Dubl</option>
              <option value="Revr">Revr</option>
              <option value="Expd">Expd</option>
            </select>
            <label for="eq_length">Equipment Length</label>
            <input type="text" id="eq_length" placeholder="Equipment Length" name="length" [(ngModel)]="load.length" required/>
            <label for="temprature">Temprature</label>
            <input type="text" id="temprature" placeholder="Temprature in F" name="temp" [(ngModel)]="load.temp" required/>
            <label for="size">Load Size</label>
            <select name="size" id="" name="size" [(ngModel)]="load.size" required>
              <option value="full">Full</option>
              <option value="half">Half</option>
            </select>
            <label for="commodity">Commodity</label>
            <select name="commodity" id="" name="commo" [(ngModel)]="load.commo" required>
              <optgroup label="Dry">
                <option value="food">Food</option>
                <option value="general">General</option>
              </optgroup>
              <optgroup label="Hazardious">
                <option value="Chemicals">Chemicals</option>
              </optgroup>
            </select>
            <label for="weight">Weight</label>
            <input type="text" id="weight" placeholder="Load Weight" name="weight" [(ngModel)]="load.weight" required/>
            <label for="notes">Notes/Description</label>
            <textarea name="notes" id="" cols="40" rows="2" name="notes" [(ngModel)]="load.notes"></textarea>
            <div class="sep">
                <span class="or">Shipper</span>
            </div>
            <label for="shipper">Shipper</label>
            <input type="text" id="shipper" spellcheck="false" placeholder="Shipper" name="shipper" [(ngModel)]="load.shipper" required/>
            <label for="pickup">Pick Up Location</label>
            <input type="text" id="pickup" spellcheck="false" placeholder="Pick Up Location" name="pick_up" [(ngModel)]="load.pick_up" required/>
            <p id="pick_error" class="fa fa-warning" style="width: 100%; color: red; margin-left: 20%; display: none"> Pick up date should be greater than today</p>
            <label for="pickup_date">Pick Up Date & Time</label>
            <input type="datetime-local" id="pickup_date" name="pick_up_date" [(ngModel)]="load.pick_up_date" (blur)="check_pickup()" required/>
            <label for="pickup_note">Notes</label>
            <textarea name="pickup_notes" id="" cols="40" rows="1" name="shipper_notes" [(ngModel)]="load.shipper_notes"></textarea>
            <label for="contact_person">Contact Person</label>
            <input type="text" id="pickup_date" placeholder="Contact Person" name="contact" [(ngModel)]="load.contact" required/>
            <label for="phone">Phone</label>
            <input type="tel" id="pickup_date" placeholder="Phone#" name="phone" [(ngModel)]="load.phone" required/>
            <div class="sep">
                <span class="or">Receiver</span>
            </div>
            <label for="receiver">Reciever</label>
            <input type="text" id="receiver" spellcheck="false" placeholder="Receiver" name="receiver" [(ngModel)]="load.receiver" required/>
            <label for="drop_off">Drop Off Location</label>
            <input type="text" id="drop_off" spellcheck="false" placeholder="Drop Off Location" name="drop_off" [(ngModel)]="load.drop_off" required/>
            <p id="drop_error" class="fa fa-warning" style="width: 100%; color: red; margin-left: 20%; display: none"> Delivery date should be greater than pickup date</p>
            <label for="delivery_date">Deliver Date & Time</label>
            <input type="datetime-local" id="delivery_date" name="delivery_time" [(ngModel)]="load.delivery_time" (blur)="check_delivery()" disabled={{disabled}} required/>
            <label for="instructions">Instructions</label>
            <textarea name="instructions" id="" cols="40" rows="1" name="instructions" [(ngModel)]="load.instructions"></textarea>
            <label for="contact_person_delivery">Contact Person at Delivery</label>
            <input type="text" id="contact_person_delivery" placeholder="Contact Person at Delivery" name="contact_person" [(ngModel)]="load.contact_person" required/>
            <label for="delivery_phone">Phone</label>
            <input type="tel" id="delivery_phone" placeholder="Phone#" name="contact_phone" [(ngModel)]="load.contact_phone" required/>
            <div class="sep">
                <span class="or">Charges</span>
            </div>
            <label for="receiver">Rate</label>
            <select name="rate" id="" name="rate" [(ngModel)]="load.rate" (change)="miles(load.rate)" required>
              <option value="Flat Fee">Flate Fee</option>
              <option value="Mile">Per Mile</option>
            </select>
            <label *ngIf="perMile" for="instructions"><i>Miles</i></label>
            <input *ngIf="perMile" type="text" name="miles" [(ngModel)]="load.miles" required/>
            <label for="instructions"><i>$</i></label>
            <input type="text" name="charge" [(ngModel)]="load.charge" (change)="calculate()" required/>
            <label style="color:seagreen; font-size: large;">${{total}}</label><br />
            <input style="float:right" type="submit" value="Create Load" id="create-account" class="button" required/>
          </div>
      </form>
    </div>
    <br />
      <div class="table-responsive-vertical shadow-z-1">
          <table id="table" class="table table-hover table-mc-light-blue">
              <thead>
                <tr>
                  <th>Load #</th>
                  <th>P/L</th>
                  <th>D/L</th>
                  <th>Driver</th>
                  <th>Track #</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let x of loads">
                <tr *ngIf="x.assigned === '0'" style="background-color:rgb(204, 222, 228);">
                  <td data-title="ID">{{x.ref_id}}</td>
                  <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
                  <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
                  <td data-title="Status">{{x.driver | titlecase}}</td>
                  <td data-title="Status">{{x.truck_number}}</td>
                  <td data-title="Status">{{x.status}}</td>
                  <td data-title="Status">
                    <a (click)="pops(x.id)" style="color: black" class="btn btn-success">Dispatch Now</a> &nbsp; &nbsp;
                    <i (click)="setForDelete(x.id, 'loads')" style="color: red; font-size:x-large" class="fa fa-trash" aria-hidden="true"></i>
                  </td>
                </tr>
                <tr *ngIf="x.assigned !== '0'">
                  <td data-title="ID">{{x.ref_id}}</td>
                  <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
                  <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
                  <td data-title="Status">{{x.driver | titlecase}}</td>
                  <td data-title="Status">{{x.truck_number}}</td>
                  <td data-title="Status">{{x.status}}</td>
                  <td data-title="Status"><a (click)="pops(x.id)">View</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  <div id="myEdit2" class="modal" style="height: 100%;">
      <!-- Modal content -->
      <div class="modal-content" style="height: 1000px;">
              <h2>{{selected_load.status | titlecase}}</h2>
              <div *ngIf="selected_load.assigned === '0'" class="progress" style="height: 6%;">
                <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="4" aria-valuemax="100" style="width:25%; height: 100%; font-size: 50px; padding-top: 2%; background-color:rgb(193, 230, 193)">
                  25%
                </div>
              </div>
              <div *ngIf="selected_load.assigned !== '0' && pickup > today && dropp > today" class="progress" style="height: 6%;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="4" aria-valuemax="100" style="width:50%; height: 100%; font-size: 50px; padding-top: 2%; background-color:rgb(197, 221, 150)">
                    50%
                  </div>
              </div>
              <div *ngIf="selected_load.assigned !== '0' && pickup < today && dropp > today" class="progress" style="height: 6%;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="4" aria-valuemax="100" style="width:75%; height: 100%; font-size: 50px; padding-top: 2%; background-color:rgb(101, 218, 101)">
                    75%
              </div>
              </div>
              <div *ngIf="selected_load.assigned !== '0' && dropp < today" class="progress" style="height: 6%;">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="4" aria-valuemax="100" style="width:100%; height: 100%; font-size: 50px; padding-top: 2%; background-color:rgb(10, 226, 10)">
                    100%
              </div>
              </div>
        <div style="width: 100%;">
            <button style="float: right; color: red" (click)="pop_close()" class="close">&times;</button>
            <br>
        </div>
        <br/>
          <table id="tables" style="width: 50%; float:left;" class="table table-hover table-mc-light-blue">
            <tr>
              <th>Load Status: </th>
              <td style="font-weight:bold">{{selected_load.status | titlecase}}</td>
            </tr>
            <tr>
              <th>Load Reference ID: </th>
              <td style="font-weight:bold">{{selected_load.ref_id}}</td>
            </tr>
            <tr>
              <th>Equipment Type: </th>
              <td>{{selected_load.eq_type}}</td>
            </tr>
            <tr>
              <th>Equipment Length: </th>
              <td>{{selected_load.length}}</td>
            </tr>
            <tr>
              <th>Temprature: </th>
              <td>{{selected_load.temp}}</td>
            </tr>
            <tr>
              <th>Load Size: </th>
              <td>{{selected_load.size}}</td>
            </tr>
          </table>
          <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
              <tr>
                <th>Commodity: </th>
                <td>{{selected_load.commo}}</td>
              </tr>
              <tr>
                  <th>Weight: </th>
                  <td>{{selected_load.weight}}</td>
              </tr>
              <tr>
                  <th>Notes: </th>
                  <td>{{selected_load.notes}}</td>
              </tr>  
              <tr>
                <th>Rate: </th>
                <td>{{selected_load.rate}}</td>
              </tr>
              <tr>
                <th>Miles: </th>
                <td>{{selected_load.miles}}</td>
              </tr>
              <tr>
                <th>Charge: </th>
                <td>{{selected_load.charge}}</td>
              </tr>
              </table>
              <div class="sep">
                  <span class="or">.</span>
              </div>
          <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
            <tr>
              <th>Shipper: </th>
              <td>{{selected_load.shipper}}</td>
            </tr>
            <tr>
              <th>Pick up Location: </th>
              <td>{{selected_load.pick_up}}</td>
            </tr>
            <tr>
              <th>Pick Up Date & Time: </th>
              <td>{{selected_load.pick_up_date | date:'medium'}}</td>
            </tr>
            <tr>
              <th>Notes: </th>
              <td>{{selected_load.shipper_notes}}</td>
            </tr>
            <tr>
              <th>Contact Person: </th>
              <td>{{selected_load.contact}}</td>
            </tr>
            <tr>
                <th>Phone: </th>
                <td>{{selected_load.phone}}</td>
            </tr>
            </table>
            <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
              <tr>
                <th>Receiver: </th>
                <td>{{selected_load.receiver}}</td>
              </tr>
              <tr>
                <th>Drop off Location: </th>
                <td>{{selected_load.drop_off}}</td>
              </tr>
              <tr>
                <th>Delivery Date & Time: </th>
                <td>{{selected_load.delivery_time | date:'medium'}}</td>
              </tr>
              <tr>
                <th>Instructions: </th>
                <td>{{selected_load.instructions}}</td>
              </tr>
              <tr>
                <th>Contact Person at Delivery: </th>
                <td>{{selected_load.contact_person}}</td>
              </tr>
              <tr>
                  <th>Contact Phone: </th>
                  <td>{{selected_load.contact_phone}}</td>
              </tr>
              </table>
                <div class="sep">
                    <span class="or">.</span>
                </div>
            <div>
                <ul *ngIf="selected_load.assigned === '0'" class="nav nav-tabs">
                    <li class={{driver}}><a (click)="switchToDriver()">Assign to a Driver</a></li>
                    <li class={{carrier}}><a (click)="switchToCarrier()">Assign to a Carrier</a></li>
                </ul>
              <div id="carrier">
              

                  <label *ngIf="selected_load.status === 'Unassigned'" for="">Remarks: </label>
                  <span *ngIf="selected_load.status === 'Unassigned'"> {{selected_load.comments}}</span> <br>
                  <div *ngIf="selected_load.status !== 'On the Way' && selected_load.status !== 'Delivered' && selected_load.status !== 'Assigned'" style="border:solid">
                  <form action="" ngNativeValidate id="reg-form">
                    <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
                    <tr>
                    <th for="search">Select a carrier: </th>
                    </tr>
                    <tr>
                    <td>
                        <select (change)="find()" name="search_drop" id="" style="width: 100%" [(ngModel)]="search_drop">
                          <option *ngFor="let x of carriers" value="{{x.id}}">{{x.company_name | titlecase }} <span>(</span> <span>{{x.contact_name | titlecase }}</span> <span>)</span> </option>
                        </select>
                    </td>
                  </tr>
                  </table>
                  </form>
                  <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
                      <tr>
                        <th>Company Name: </th>
                        <td>{{selected_carrier.company_name | titlecase}}</td>
                      </tr>
                      <tr>
                          <th>Contact Person: </th>
                          <td>{{selected_carrier.contact_name}}</td>
                      </tr>
                      <tr>
                          <th>Phone#: </th>
                          <td>{{selected_carrier.phone}}</td>
                      </tr>  
                      <button class="btn btn-success" (click)="assign()">Assign</button>
                  </table>
                  </div>
                  <table *ngIf="selected_load.status === 'On the Way' || selected_load.status === 'Delivered' || selected_load.status === 'Assigned'" id="tables" style="width: 50%; float:left;" class="table table-hover table-mc-light-blue">
                      <tr>
                        <th>Driver: </th>
                        <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.driver | titlecase}}</td>
                      </tr>
                      <tr>
                        <th>Truck Number: </th>
                        <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.truck_number}}</td>
                      </tr>
                      <tr>
                        <th>Trailer: </th>
                        <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.trailer_number}}</td>
                      </tr>
                </table>
                <form ngNativeValidate *ngIf="selected_load.status === 'Assigned'">
                    <textarea name="comments" placeholder="Add comments to unassign" id="" cols="60" rows="3" [(ngModel)]="comments" required></textarea>
                    <button class="btn btn-warning" (click)="unassign(selected_load.id, comments)">Unassign!</button>
                </form>



              </div>
              <div id="driver">
                <label *ngIf="selected_load.assigned === '0'" for="">Remarks: </label>
                <span *ngIf="selected_load.assigned === '0'"> {{selected_load.comments}}</span> <br>
                <div *ngIf="selected_load.assigned === '0'" style="border:solid">
                <form action="" ngNativeValidate id="reg-form">
                  <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
                  <tr>
                  <th for="search">Select Driver: </th>
                  <th for="search">Or Search: </th>
                  </tr>
                  <tr>
                  <td>
                      <select (change)="find_drop()" name="search_drop" id="" style="width: 100%" [(ngModel)]="search_drop">
                        <option *ngFor="let x of drivers" value="{{x.name}}">{{x.name | titlecase }}</option>
                      </select>
                  </td>
                  <td><input tabindex="-1" (change)="find()" style="width: 100%; padding: 5px; font-size: 0.9em; border-radius: 5px; background: rgba(0, 0, 0, 0.07);" type="text" id="search" spellcheck="false" placeholder="Search..." name="search" [(ngModel)]="search"/>
                  </td>
                </tr>
                </table>
                </form>
                <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
                  <span style="color: red"> {{error}}</span> 
                    <tr>
                      <th>Driver's Full Name: </th>
                      <td>{{selected_driver.name | titlecase}}</td>
                    </tr>
                    <tr>
                        <th>Truck #: </th>
                        <td>{{selected_driver.truck_number}}</td>
                    </tr>
                    <tr>
                        <th>Trailer #: </th>
                        <td>{{selected_driver.trailer_number}}</td>
                    </tr>  
                    <button class="btn btn-success" (click)="assign()">Assign</button>
                </table>
                </div>
                <table *ngIf="selected_load.assigned !== '0' && selected_load.driver !== 'Not assigned'" id="tables" style="width: 50%; float:left;" class="table table-hover table-mc-light-blue">
                    <tr>
                      <th>Driver: </th>
                      <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.driver | titlecase}}</td>
                    </tr>
                    <tr>
                      <th>Truck Number: </th>
                      <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.truck_number}}</td>
                    </tr>
                    <tr>
                      <th>Trailer: </th>
                      <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.trailer_number}}</td>
                    </tr>
              </table>
              <table *ngIf="selected_load.assigned !== '0' && selected_load.driver === 'Not assigned'" id="tables" style="width: 50%; float:left;" class="table table-hover table-mc-light-blue">
                  <tr>
                    <th>Company Name: </th>
                    <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.carrier | titlecase}}</td>
                  </tr>
                  <tr>
                    <th>Contact Person: </th>
                    <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.carrier_contact_name}}</td>
                  </tr>
                  <tr>
                    <th>Phone#: </th>
                    <td style="width: 50%; float:left; font-weight: bold; color: navy">{{selected_load.carrier_contact_phone}}</td>
                  </tr>
            </table>
              <form ngNativeValidate *ngIf="selected_load.assigned !== '0' && pickup > today" (submit)="unassign(selected_load.id, comments)">
                  <textarea name="comments" placeholder="Add comments to unassign" id="" cols="60" rows="3" [(ngModel)]="comments" required></textarea>
                  <input class="btn btn-warning" type="submit" value="Unassign" name="submit">
              </form>
            </div>
          </div>
      </div>
    </div>