<!DOCTYPE html>
<html *ngIf="pages">
<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Prowess </span>Logistics</a>
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-danger">3</span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li><a href="#">
								<div><em class="fa fa-bullhorn color-red"></em> Submit Load #424324
									<span class="pull-right text-muted small">1 Day late</span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="#">
									<div><em class="fa fa-bullhorn color-red"></em> Submit Load #424324
										<span class="pull-right text-muted small">3 Days late</span></div>
								</a></li>
							<li class="divider"></li>
							<li><a href="#">
									<div><em class="fa fa-bullhorn color-red"></em> Submit Load #424324
										<span class="pull-right text-muted small">1 Week late</span></div>
								</a></li>
							<li class="divider"></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Abshir Jama</div>
				<div *ngIf="em" class="profile-usertitle-status"><span class="indicator label-info"></span>EM</div>
				<div *ngIf="ad" class="profile-usertitle-status"><span class="indicator label-success"></span>AD</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav">
      		<li routerLinkActive="actived current"><a routerLink="/dashboard"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li routerLinkActive="actived current"><a routerLink="/assets"><em class="fa fa-address-book">&nbsp;</em> Assets</a></li>
			<li routerLinkActive="actived current"><a routerLink="/dispatch"><em class="fa fa-calendar">&nbsp;</em> Disptach</a></li>
			<!-- <li routerLinkActive="actived current"><a routerLink="/dispatch"><em class="fa fa-truck">&nbsp;</em> Dispatch</a></li> -->
			<li routerLinkActive="actived current"><a routerLink="/loads"><em class="fa fa-toggle-off">&nbsp;</em> Loads</a></li>
			<li routerLinkActive="actived current"><a routerLink="/reports"><em class="fa fa-clone">&nbsp;</em> Reports</a></li>
			<li routerLinkActive="actived current"><a routerLink="/deductions"><em class="fa fa-minus-circle">&nbsp;</em> Operations</a></li>
			<li><a (click)="logout()"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
			<router-outlet></router-outlet>
	</div>	<!--/.main-->		
</body>
</html>

<html *ngIf="login">
<head>
</head>
<body>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">Log in</div>
				<div class="panel-body">
					<form role="form">
						<fieldset>
							<div class="form-group">
								<input class="form-control" placeholder="E-mail" name="email" type="email" [(ngModel)]="info.username" autofocus="">
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password" name="password" type="password" [(ngModel)]="info.password" value="">
							</div>
							<div class="checkbox">
								<label>
									<input name="remember" type="checkbox" value="Remember Me">Remember Me
								</label>
							</div>
							<a (click)="_login()" class="btn btn-primary">Login</a></fieldset>
					</form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/chart.min.js"></script>
<script src="assets/js/chart-data.js"></script>
<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>
<script src="assets/js/bootstrap-datepicker.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>