<div class="main" style="width: 100%">
  <div style="width: 100%">
  <button class="collapsible">Driver Registration</button>
  <div class="driver">
    <div class="register">
      <h3>Driver Registration Form</h3> <span>{{message}}</span>
      <form ngNativeValidate (submit)="register_driver()" id="reg-form">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" spellcheck="false" placeholder="Name" name="name" [(ngModel)]="driver_info.name" required/>
          <label for="email">Email</label>
          <input type="text" id="email" spellcheck="false" placeholder="example@email.com" name="email" [(ngModel)]="driver_info.email" (blur)="onBlurMethod()" required/>
          <label for="status">Status</label>
          <select name="status" id="" [(ngModel)]="driver_info.status" required>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          <!-- <input type="text" id="username" spellcheck="false" placeholder="shree33" /> -->
          <label for="dob">DOB</label>
          <input type="date" id="dob" name="dob" [(ngModel)]="driver_info.dob" required/>
          <label for="address">Full Address</label>
          <input type="text" id="address" placeholder="Full Address" name="address" [(ngModel)]="driver_info.address" required/>
          <label for="name">Phone</label>
          <input type="tel" id="phone" spellcheck="false" placeholder="phone#" name="phone" [(ngModel)]="driver_info.phone" required/>
          <label for="name">DL</label>
          <input type="tel" id="phone" spellcheck="false" placeholder="Driver's license #" name="license" [(ngModel)]="driver_info.license" required/>
          <label for="name">DL Expiration</label>
          <input type="date" id="phone" spellcheck="false" name="dl_expiration" [(ngModel)]="driver_info.dl_expiration" required/>
          <div class="sep">
              <span class="or">...</span>
            </div>
          <hr />
          <label for="type">Driver Type</label>
          <select name="type" id="" name="type" [(ngModel)]="driver_info.type" required>
            <option value="contractor">Contractor</option>
            <option value="employee">Employee</option>
          </select>
          <!-- <input type="text" id="email" spellcheck="false" placeholder="shridhardeshmukh@xyz.com"/> -->
          <label for="id">Driver ID</label>
          <input type="text" id="id" spellcheck="false" placeholder="Driver ID#" name="id" [(ngModel)]="driver_info.driver_id" required/>
          <label for="experience">Experience</label>
          <input type="text" id="experience" placeholder="Years or Months" name="experience" [(ngModel)]="driver_info.experience" required/>
          <label for="expiration">DOT Medical card expiration</label>
          <input type="date" id="expiration" name="expiration" [(ngModel)]="driver_info.dot_medical_card_expiration" required/>
          <label for="name">Truck #</label>
          <input type="text" id="hire_date" spellcheck="false" name="hire" [(ngModel)]="driver_info.truck_number" required/>
          <label for="termination">Trailer #</label>
          <input type="text" id="termination" spellcheck="false" name="termination" [(ngModel)]="driver_info.trailer_number" required/>
          <div class="sep">
              <span class="or">...</span>
            </div>
          <hr />
          <label for="advance">Advance Money</label>
          <select name="advance" id="" name="advance" [(ngModel)]="driver_info.advance_money_eligible" required>
            <option value="eligible">Eligible</option>
            <option value="not-eligible">Not Eligible</option>
          </select>
          <!-- <input type="text" id="username" spellcheck="false" placeholder="shree33" /> -->
          <label for="insurance">Driver Insurance #</label>
          <input type="text" id="insurance" placeholder="Driver insurance #" name="insurance" [(ngModel)]="driver_info.driver_insurance" required/>
          <label for="company">Insurance Company</label>
          <input type="text" id="insu_company" placeholder="Insurance Company Name" name="company" [(ngModel)]="driver_info.insurance_company" required/>
          <label for="expire">Insurance Expiration</label>
          <input type="date" id="expire" spellcheck="false" name="expiration_date" [(ngModel)]="driver_info.insurance_expiration_date" required/>
          <label for="group_no">Group No:</label>
          <input type="text" id="group_no" spellcheck="false" placeholder="Group #" name="group" [(ngModel)]="driver_info.group_no" required/>
          <label for="id">ID no:</label>
          <input type="text" id="id" spellcheck="false" placeholder="ID no:" name="id_number" [(ngModel)]="driver_info.id_no" required/>
          <!-- <label for="password">Password</label>
          <input type="password" id="password" />
          <label for="password-again">Password Again</label>
          <input type="password" id="password-again" /> -->
          <label></label>
          <input type="submit" value="Register Driver" id="create-account" class="button"/>
        </div>
      </form>
  </div>
  </div>
  <br />
  <button class="collapsibleTwo">Other Registration</button>
  <div class="dispatcher">
  <div class="register">
      <h3>Registration Form</h3>
      <form ngNativeValidate id="reg-form" (submit)="register_broker()">
        <div>
          <label for="name">Broker Type</label>
          <select name="type" id="" name="broker" [(ngModel)]="dispatcher_info.broker_type" required>
            <option value="Dispatcher">Dispatcher</option>
            <option value="Carrier">Carrier</option>
            <option value="Customer">Customer</option>
          </select>
          <div class="sep">
              <span class="or">...</span>
          </div>
          <!-- <input type="text" id="name" spellcheck="false" placeholder="Shridhar Deshmukh"/> -->
          <label *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" for="dba">DBA Name</label>
          <input *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" type="text" id="dba" spellcheck="false" placeholder="DBA Name" name="dba" [(ngModel)]="dispatcher_info.dba_name" required/>
          <label for="contact">Company Name</label>
          <input type="text" id="carrier" spellcheck="false" placeholder="Company Name" name="carrier" [(ngModel)]="dispatcher_info.company_name" required/>
          <label for="contact">Contact Name</label>
          <input type="text" id="contance" spellcheck="false" placeholder="Contact Name" name="dba" [(ngModel)]="dispatcher_info.contact_name" required/>
          <label *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" for="ein">EIN</label>
          <input *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" type="text" id="ein" placeholder="EIN" name="ein" [(ngModel)]="dispatcher_info.ein" required/>
          <label *ngIf="dispatcher_info.broker_type !== 'Customer'" for="mc">MC Number</label>
          <input *ngIf="dispatcher_info.broker_type !== 'Customer'" type="text" id="mc" placeholder="MC #" name="mc" [(ngModel)]="dispatcher_info.mc_number" required/>
          <label *ngIf="dispatcher_info.broker_type !== 'Customer'" for="dot">US DOT #</label>
          <input *ngIf="dispatcher_info.broker_type !== 'Customer'" type="text" id="dot" spellcheck="false" placeholder="US DOT #" name="dot" [(ngModel)]="dispatcher_info.us_dot_no" required/>
          <label *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" for="account">Account #</label>
          <input *ngIf="dispatcher_info.broker_type === 'Dispatcher' || dispatcher_info.broker_type === 'Customer'" type="text" id="account" spellcheck="false" placeholder="Account #" name="acount" [(ngModel)]="dispatcher_info.account_number" required/>
          <label for="email">Email</label>
          <input type="text" id="email" spellcheck="false" placeholder="example@mail.com" name="email" [(ngModel)]="dispatcher_info.email" required/>
          <label for="phone">phone#</label>
          <input type="text" id="phone" spellcheck="false" placeholder="Phone #" name="phone" [(ngModel)]="dispatcher_info.phone" required/>
          <label></label>
          <input type="submit" value="Register {{dispatcher_info.broker_type}}" id="create-account" class="button"/>
          <div class="sep">
              <span class="or">...</span>
          </div>
        </div>
        </form>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>DBA Name</th>
                    <th>Contact Name</th>
                    <th>EIN</th>
                    <th>MC Number</th>
                    <th>US DOT #</th>
                    <th>Account #</th>
                    <th>Email</th>
                    <th>Phone #</th>
                    <th *ngIf="loggedInStaff.deletion === '1'">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of brokerList">
                    <td data-title="Status">{{x.date}}</td>
                    <td data-title="ID">{{x.broker_type}}</td>
                    <td data-title="Name">{{x.dba_name}}</td>
                    <td data-title="Link">{{x.contact_name}}</td>
                    <td data-title="Status">{{x.ein}}</td>
                    <td data-title="Status">{{x.mc_number}}</td>
                    <td data-title="Status">{{x.us_dot_no}}</td>
                    <td data-title="Status">{{x.account_number}}</td>
                    <td data-title="Status">{{x.email}}</td>
                    <td data-title="Status">{{x.phone}}</td>
                    <td *ngIf="loggedInStaff.deletion === '1'" data-title="Status">&nbsp;
                      <i (click)="setForDelet(x.id, 'dispatcher')" style="color: red" class="fa fa-trash" aria-hidden="true"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
  </div>
  </div>
  <hr />
<form>
      <input style="width: 30%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" type="text" placeholder=" Search..." name="search" [(ngModel)]="search"/>
</form>
  <div class="table-responsive-vertical shadow-z-1">
      <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>Registered Date</th>
              <th>Name</th>
              <th>Type</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Truck# (if any)</th>
              <th>Trailer# (if any)</th>
              <th *ngIf="loggedInStaff.deletion === '1'">Action (if Driver)</th>
            </tr>
          </thead>
          <tbody *ngFor="let x of driverList | filter:search">
            <tr style="background-color:rgb(228, 185, 185);" *ngIf="x.status !== 'Active'">
              <td data-title="ID">{{x.date}}</td>
              <td data-title="Name"><a (click)="pops(x.id)" style="color:blue">{{x.name}}<span *ngIf="x.ubilled.length" style="color:red"> ({{x.ubilled.length}})</span></a></td>
              <td data-title="Link">{{x.type}}</td>
              <td data-title="Status">{{x.email}}</td>
              <td data-title="Status">{{x.phone}}</td>
              <td data-title="Status">{{x.truck_number}}</td>
              <td data-title="Status">{{x.trailer_number}}</td>
              <td *ngIf="loggedInStaff.deletion === '1'" data-title="Status" style="color: blue; font-weight: bold; font-size: 20px">
                &nbsp;
                <i (click)="setForDelet(x.id, 'driver')" style="color: red" class="fa fa-trash" aria-hidden="true"></i> &nbsp;
                <i (click)="editDriver(x.id)" style="color: chocolate" class="fa fa-edit" aria-hidden="true"></i>
              </td>
            </tr>
            <tr *ngIf="x.status === 'Active'">
                <td data-title="ID">{{x.date}}</td>
                <td data-title="Name"><a (click)="pops(x.id)" style="color:blue">{{x.name}}<span *ngIf="x.ubilled.length" style="color:red"> ({{x.ubilled.length}})</span></a></td>
                <td data-title="Link">{{x.type}}</td>
                <td data-title="Status">{{x.email}}</td>
                <td data-title="Status">{{x.phone}}</td>
                <td data-title="Status">{{x.truck_number}}</td>
                <td data-title="Status">{{x.trailer_number}}</td>
                <td *ngIf="loggedInStaff.deletion === '1'" data-title="Status" style="color: blue; font-weight: bold; font-size: 20px">
                  &nbsp;
                  <i (click)="setForDelet(x.id, 'driver')" style="color: red" class="fa fa-trash" aria-hidden="true"></i> &nbsp;
                  <i (click)="editDriver(x.id)" style="color: chocolate" class="fa fa-edit" aria-hidden="true"></i>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
<div id="myEdit2" class="modal">
  <!-- Modal content -->
  <div id="modalTwo" class="modal-content">
    <button (click)="pop_close()" class="close">&times;</button> <br/><br>
    <div class="register">
      <h3>Driver Edit</h3>
      <form ngNativeValidate (submit)="submitDriverEdit()" id="reg-form">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" spellcheck="false" placeholder="Name" name="name" [(ngModel)]="driverTobeEdited.name" required/>
          <label for="email">Email</label>
          <input type="text" id="email" spellcheck="false" placeholder="example@email.com" name="email" [(ngModel)]="driverTobeEdited.email" required/>
          <!-- <input type="text" id="username" spellcheck="false" placeholder="shree33" /> -->
          <label for="dob">DOB</label>
          <input type="date" id="dob" name="dob" [(ngModel)]="driverTobeEdited.dob" required/>
          <label for="address">Full Address</label>
          <input type="text" id="address" placeholder="Full Address" name="address" [(ngModel)]="driverTobeEdited.address" required/>
          <label for="name">Phone</label>
          <input type="tel" id="phone" spellcheck="false" placeholder="phone#" name="phone" [(ngModel)]="driverTobeEdited.phone" required/>
          <label for="name">DL</label>
          <input type="tel" id="phone" spellcheck="false" placeholder="Driver's license #" name="license" [(ngModel)]="driverTobeEdited.license" required/>
          <label for="name">DL Expiration</label>
          <input type="date" id="phone" spellcheck="false" name="dl_expiration" [(ngModel)]="driverTobeEdited.dl_expiration" required/>
          <div class="sep">
              <span class="or">...</span>
            </div>
          <hr />
          <label for="type">Driver Type</label>
          <select name="type" id="" name="type" [(ngModel)]="driverTobeEdited.type" required>
            <option value="contractor">Contractor</option>
            <option value="employee">Employee</option>
          </select>
          <!-- <input type="text" id="email" spellcheck="false" placeholder="shridhardeshmukh@xyz.com"/> -->
          <label for="id">Driver ID</label>
          <input type="text" id="id" spellcheck="false" placeholder="Driver ID#" name="id" [(ngModel)]="driverTobeEdited.driver_id" required/>
          <label for="experience">Experience</label>
          <input type="text" id="experience" placeholder="Years or Months" name="experience" [(ngModel)]="driverTobeEdited.experience" required/>
          <label for="expiration">DOT Medical card expiration</label>
          <input type="date" id="expiration" name="expiration" [(ngModel)]="driverTobeEdited.dot_medical_card_expiration" required/>
          <label for="name">Truck #</label>
          <input type="text" id="hire_date" spellcheck="false" name="hire" [(ngModel)]="driverTobeEdited.truck_number" required/>
          <label for="termination">Trailer #</label>
          <input type="text" id="termination" spellcheck="false" name="termination" [(ngModel)]="driverTobeEdited.trailer_number" required/>
          <div class="sep">
              <span class="or">...</span>
            </div>
          <hr />
          <label for="advance">Advance Money</label>
          <select name="advance" id="" name="advance" [(ngModel)]="driverTobeEdited.advance_money_eligible" required>
            <option value="eligible">Eligible</option>
            <option value="not-eligible">Not Eligible</option>
          </select>
          <!-- <input type="text" id="username" spellcheck="false" placeholder="shree33" /> -->
          <label for="insurance">Driver Insurance #</label>
          <input type="text" id="insurance" placeholder="Driver insurance #" name="insurance" [(ngModel)]="driverTobeEdited.driver_insurance" required/>
          <label for="company">Insurance Company</label>
          <input type="text" id="insu_company" placeholder="Insurance Company Name" name="company" [(ngModel)]="driverTobeEdited.insurance_company" required/>
          <label for="expire">Insurance Expiration</label>
          <input type="date" id="expire" spellcheck="false" name="expiration_date" [(ngModel)]="driverTobeEdited.insurance_expiration_date" required/>
          <label for="group_no">Group No:</label>
          <input type="text" id="group_no" spellcheck="false" placeholder="Group #" name="group" [(ngModel)]="driverTobeEdited.group_no" required/>
          <label for="id">ID no:</label>
          <input type="text" id="id" spellcheck="false" placeholder="ID no:" name="id_number" [(ngModel)]="driverTobeEdited.id_no" required/>
          <!-- <label for="password">Password</label>
          <input type="password" id="password" />
          <label for="password-again">Password Again</label>
          <input type="password" id="password-again" /> -->
          <label></label>
          <input type="submit" value="Update Driver" id="create-account" class="button"/>
        </div>
      </form>
  </div>

  </div>
  <div id="modalOne" class="modal-content">
      <h3 style="color:green; float: right;" *ngIf="selected_driver.status === 'Active'">{{selected_driver.status | titlecase}}</h3>
      <h3 style="color:red; float: right;" *ngIf="selected_driver.status !== 'Active'">{{selected_driver.status | titlecase}}</h3>
    <h1>{{selected_driver.name | titlecase}}</h1>
    <button (click)="pop_close()" class="close">&times;</button> <br/><br>
    <div style="text-align: center; padding-right: 0%; padding-left: 0%; width: 100%" class="container">
      <table id="tables" style="width: 50%; float:left;" class="table table-hover table-mc-light-blue">
        <tr>
          <th>Date Registered: </th>
          <td>{{selected_driver.date}}</td>
        </tr>
        <tr>
          <th>ID: </th>
          <td>{{selected_driver.id}}</td>
        </tr>
        <tr>
          <th>Email: </th>
          <td>{{selected_driver.email}}</td>
        </tr>
        <tr>
          <th>Status: </th>
          <td>{{selected_driver.status}}</td>
        </tr>
        <tr>
          <th>Address: </th>
          <td>{{selected_driver.address}}</td>
        </tr>
        <tr>
          <th>Phone#: </th>
          <td>{{selected_driver.phone}}</td>
        </tr>
      </table>
      <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
          <tr>
            <th>Type: </th>
            <td>{{selected_driver.type | titlecase}}</td>
          </tr>
          <tr>
              <th>Experience: </th>
              <td>{{selected_driver.experience}}</td>
          </tr>
          <tr>
              <th>Drivers License #: </th>
              <td>{{selected_driver.license}}</td>
          </tr>  
          <tr>
            <th>DL Expiration: </th>
            <td>{{selected_driver.dl_expiration}}</td>
          </tr>
          <tr>
            <th>DOT Medical Card Expiration: </th>
            <td>{{selected_driver.dot_medical_card_expiration}}</td>
          </tr>
          <tr>
            <th>Truck #: </th>
            <td>{{selected_driver.truck_number}}</td>
          </tr>
          </table>
          <table id="tables" style="width: 50%; float:left" class="table table-hover table-mc-light-blue">
            <tr>
              <th>Trailer #: </th>
              <td>{{selected_driver.trailer_number}}</td>
            </tr>
            <tr>
                <th>Advance Money Eligibility: </th>
                <td>{{selected_driver.advance_money_eligible | titlecase}}</td>
            </tr>
            <tr>
                <th>Driver Insurance: </th>
                <td>{{selected_driver.driver_insurance | titlecase}}</td>
            </tr>  
            <tr>
              <th>Insurance Expiration: </th>
              <td>{{selected_driver.insurance_expiration_date}}</td>
            </tr>
            <tr>
              <th>Group #: </th>
              <td>{{selected_driver.group_no}}</td>
            </tr>
            <tr>
              <th> Insurance ID #: </th>
              <td>{{selected_driver.id_no}}</td>
            </tr>
            </table>
          <div class="sep">
              <span class="or">.</span>
          </div>
            <label class="switch">
              <input (change)="activate(selected_driver.id)" type="checkbox" name="checkbox" [(ngModel)]="checked">
              <span class="slider round"></span>
            </label>
    </div>
    <div *ngIf="settlibleLoads.length > 0" class="table-responsive-vertical shadow-z-1">
          <table id="table" class="table table-hover table-mc-light-blue">
              <thead>
                <tr>
                  <th>Select</th>
                  <th>Load #</th>
                  <th>P/L</th>
                  <th>D/L</th>
                  <th>Broker Amount</th>
                  <th>Driver Pay</th>
                </tr>
              </thead>
              <tbody *ngFor="let x of driverPayableLoad">
                <tr *ngIf="x.drop < today && x.settled !== 'yes'" style="background-color: rgb(223, 177, 132)">
                  <td data-title="ID"><input type="checkbox" name="selection" [(ngModel)]="x.select" (change)="calculateSelected()"></td>
                  <td data-title="ID">{{x.ref_id}}</td>
                  <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
                  <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
                  <td data-title="Status">{{x.charge | currency }}</td>
                  <td data-title="Status">{{x.charge * .88 | currency }}</td>
                </tr>
                <tr *ngIf="x.drop > today">
                    <td data-title="ID"><input type="checkbox" name="selection" [(ngModel)]="x.select" (change)="calculateSelected()" disabled></td>
                    <td data-title="ID">{{x.ref_id}}</td>
                    <td data-title="Name">{{x.pick_up}}<span style="display:block">{{x.pick_up_date | date:'medium'}}</span></td>
                    <td data-title="Link">{{x.drop_off}}<span style="display:block">{{x.delivery_time | date:'medium'}}</span></td>
                    <td data-title="Status">{{x.charge | currency }}</td>
                    <td data-title="Status">{{x.charge * .88 | currency }}</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                    <td data-title="ID"></td>
                    <td data-title="ID"></td>
                    <td data-title="Name"></td>
                    <td data-title="Link"></td>
                    <td data-title="Status">{{totalDriverAdvance.description}}</td>
                    <td *ngIf="totalDriverAdvance.amount > 0" style="color:red" data-title="Status">{{totalDriverAdvance.amount | currency}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <table id="tables" style="width: 35%; float:right; border-bottom: none; border-top: none;" class="table table-hover table-mc-light-blue">
                <tr *ngFor="let x of summaryArray">
                  <th style="float:left">{{x.description}}</th>
                  <td style="float: right">{{x.deduction | currency }}</td>
                </tr>
                <hr>
                <span *ngIf="total > 0" style="float: right; color: green">{{ total | currency }}</span>
                <span *ngIf="total < 0" style="float: right; color: red">{{ total | currency }}</span>
                <button *ngIf="total > 0" (click)="registerTransaction()">Settle this total --></button>
                <span *ngIf="total < 0" (click)="registerTransaction()" style="color:lightcoral" disabled>Negative Amount</span>
            </table>
            <form style="padding-bottom: 100px">
              <button *ngIf="disabled" id="filldetails" (click)="addDeduction()">Add Deductions <i class="fa fa-plus" ></i></button> <br>
              <div formArray="deductions" class="input-group" *ngFor="let deduction of userForm.get('deductions').controls; let i = index">
                  <button (click)="deleteDeduction(i)"><i class="fa fa-trash" aria-hidden="true" style="font-size: 4rem;"></i></button>
                  <input style="width: 300px; float: left;" type="text" id="content[i].description" class="form-control" name="description{{i}}" [(ngModel)]="content[i].description" placeholder="Description">&nbsp; &nbsp;
                  <input style="width: 100px; float: left;" type="number" id="content[i].deduction" class="form-control" name="deduction{{i}}" [(ngModel)]="content[i].deduction" (change)="totalCalculate()" placeholder="$">
              </div>
            </form>
          </div>
  </div>
</div>

