
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a (click)="switch()">Driver</a></li>
    <li><a (click)="switch()">Dispatch</a></li>
  </ul>
  <form *ngIf="driver"> 
      <div class="row">
          <div class="col-halfs">
            <h4>Please Choose an Option</h4>
            <div class="input-group">
              <input type="radio" name="type" value="Employee" id="gender-male"/>
              <label for="gender-male">Employee</label>
              <input type="radio" name="type" value="Contractor" id="gender-female"/>
              <label for="gender-female">Contractor</label>
            </div>
          </div>
        </div>
    <div class="row">
      <h4>Driver's Info</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Full Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Driver's license"/>
        <div class="input-icon"><i class="fa fa-id-card-o"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="ID"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Email Adress"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="tel" placeholder="Phone#"/>
        <div class="input-icon"><i class="fa fa-phone"></i></div>
      </div><br />
    </div>
    <div class="row">
        <h4>Owneship</h4>
        <div class="input-group">
          <input type="checkbox" id="terms"/>
          <label for="terms">Owner?</label>
        </div>
    </div>
    <button class="btn btn-success">Register</button>
    <button class="btn btn-warning">Clear</button>
  </form>
</div>